/* importing fonts from Google Font API */
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Sarabun:300,300i,400,700');

html {
    background: #231F20;
    min-width: 1280px;
    min-height: 720px;
    overflow: auto;

    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    color: #EAEAEA;
    letter-spacing: 0.1em;
}

body {
    padding: 20px;
}

h1{
    font-family: "Major Mono Display", sans-serif;
    font-size: 3em;

    color: #EAEAEA;
    letter-spacing: normal;
    text-transform: lowercase;

    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    font-family: "Major Mono Display", sans-serif;
    font-size: 1.5em;
    letter-spacing: normal;
    text-transform: lowercase;
}

/* styling an element through its ID */
div#div_page_desc {
    margin: 10px;
}

div#div_data_desc {
    background: floralwhite;
    box-sizing: border-box;
    padding: 10px 20px;

    color: black;
}

div#div_visuals {
    background: floralwhite;
    background-clip: content-box;
    width: 100%;
    height: 100%;
    min-height: 700px;
    box-sizing: border-box;
    padding: 10px;
}

div#div_buttons {
    padding: 20px;
}
.button {
    background: #AD974F;
    border: 10;
    height: 30px;
    padding: 0px 10px;
    display: inline-block;

    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.1em;
}

/*.button2 {position: absolute;} /* Blue */
/*.button3 {position: absolute;} /* Red */
/*.button4 {position: absolute;} /* Gray */
/*.button5 {position: absolute;} /* Gray */
/*.button6 {position: absolute;} /* Gray */
/*.button7 {position: absolute;} /* Gray */


.button:hover {
    background: lightyellow;
    cursor: pointer;
}

.button:focus {
    outline: 0;
}

.feature.active {
    fill: orange;
}
.svg_boxes {
    background: #EAEAEA;
    align-content: center;
    display: block;
    width: 60%;
    height: 60%;
    min-width: 500px;
    min-height: 500px;
    /*box-sizing: border-box;*/
    margin: auto;
    float: inherit;
    padding: 0px 75px;
}

.domain,
.tick,
.tick path,
.tick line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.domain text,
.tick,
.tick text {
    font-family: "Sarabun", sans-serif;
    font-size: 1em;
}